.markdown-rendered mark.red strong ,
.cm-s-obsidian span.cm-html-embed mark.red strong,
#sr-flashcard-view mark.red strong { 
    font-size: 20px; 
    background: linear-gradient(transparent 45%, #FFD580 65%)!important; 
    border-bottom:none 
    border-radius: none;  
    box-shadow: none;  
    font-family: Calibri;
    text-transform: none;
    font-weight: none;
    letter-spacing: none;
    border-bottom: none;
    padding: none;
    
}


.markdown-rendered mark.red,
.cm-s-obsidian span.cm-html-embed mark.red  { 
    font-size: 20px; 
    background:transparent; 
    border-bottom:none 
    border-radius: none;  
    box-shadow: none;  
    font-family: Calibri;
    text-transform: none;
    font-weight: none;
    letter-spacing: none;
    border-bottom: none;
    padding: none;
    white-space: nowrap;
}




